<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogFile="%localappdata%\X21\X21-xls\Logs\internal.log"
        internalLogLevel="Info">
  <variable name="appName" value="X21-xls" />
  <variable name="mainLogPath" value="${specialfolder:folder=LocalApplicationData}\X21\${appName}" />
  <variable name="logPath" value="${mainLogPath}\Logs" />
  <variable name="logFileName" value ="\xls-${machinename}"/>
  <targets>
    <target xsi:type="File"
            name="logfile"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
            fileName="${logPath}${logFileName}.log"
            archiveFileName="${logPath}${logFileName}_{##}.log"
            archiveNumbering="Date"
            archiveDateFormat ="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="30"
            createDirs="true"
            />
    <target xsi:type="Debugger"
            name="debugger"
            layout="${time} | ${level:uppercase=true} | ${message}" />
    <target xsi:type="Console"
            name="console"
            layout="${time} | ${level:uppercase=true} | ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile,debugger,console" />
  </rules>
</nlog>
